*{
	margin : 0;
}

.contenedor{
	
	background: #F598B5;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

p{
	font-size: xx-large;
	padding: 12%;
	font-weight: bold;
}

button{
	font-size: 110%;
	padding: 0.20em;
	background: #99C9EB;
}

#yesBtn{
	transform: translate(-98%,0);
}

#noBtn{
	position: absolute;
}